.nav-underline {
  flex-wrap: nowrap;
  border-bottom: 1px solid $border-color;

  @media (max-width: 767px) {
    overflow-y: hidden;
    overflow-x: scroll;
  }

  .nav-item {
    margin-bottom: -1px;
    white-space: nowrap;
  }

  .nav-link {
    color: $text-muted;
    border: 0;

    &:hover {
      border-bottom: 3px solid $gray-400;
    }

    &.active {
      color: $link-color;
      border-bottom: 3px $link-color solid;
    }
  }
}
